.env
data
.venv
fundamentos_python/notebooks/*
!fundamentos_python/notebooks/01_variables.ipynb
!fundamentos_python/notebooks/02_operaciones_aritmet.ipynb
!fundamentos_python/notebooks/03_operadores_logicos.ipynb
!fundamentos_python/notebooks/04_f_strings.ipynb
!fundamentos_python/notebooks/05_strings.ipynb
!fundamentos_python/notebooks/06_listas.ipynb
!fundamentos_python/notebooks/07_tuplas.ipynb
!fundamentos_python/notebooks/08_diccionarios.ipynb
!fundamentos_python/notebooks/09_sets.ipynb
!fundamentos_python/notebooks/10_condicionales.ipynb
!fundamentos_python/notebooks/11_bucles.ipynb
!fundamentos_python/notebooks/12_comprensiones.ipynb
!fundamentos_python/notebooks/13_funciones.ipynb
!fundamentos_python/notebooks/14_excepciones.ipynb
!fundamentos_python/notebooks/15_lectura_escritura.ipynb
!fundamentos_python/notebooks/16_POO.ipynb
!fundamentos_python/notebooks/17_ejercicios_fundamentos.ipynb
