.env
data
.venv
fundamentos_python/notebooks/*
!fundamentos_python/notebooks/01_variables.ipynb
!fundamentos_python/notebooks/02_operaciones_aritmet.ipynb
!fundamentos_python/notebooks/03_operadores_logicos.ipynb
!fundamentos_python/notebooks/04_f_strings.ipynb
!fundamentos_python/notebooks/05_strings.ipynb
!fundamentos_python/notebooks/06_listas.ipynb